<h1>KarmaVille's Most Famous</h1>
RaoRaoutes:
<a href="/?raoraoute=1">1</a>
<a href="/?raoraoute=2">2</a>
<a href="/?raoraoute=3">3</a>
<a href="/?raoraoute=4">4</a>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>
</table>
